{% extends "admin.twig" %}

{% set title %}
{{ 'CoreAdminHome_SystemPluginSettings'|translate }}
{% endset %}

{% block content %}

    {% import 'macros.twig' as piwik %}
    {% import 'ajaxMacros.twig' as ajax %}
    {% import 'settingsMacros.twig' as settingsMacro %}

    <h2 piwik-enriched-headline>{{ title }}</h2>

    <div piwik-plugin-settings mode="admin"></div>

    {{ ajax.errorDiv('ajaxErrorPluginSettings') }}
    {{ ajax.loadingDiv('ajaxLoadingPluginSettings') }}

{% endblock %}